:root{
    --dark: black;
    --white: white;
    --light-grey: #efefef;
    --gold: #ecd5a7;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: .05rem;
    background-color: var(--white);
}

a{
    color: var(--dark);
}

a:hover{
    color: var(--dark);
}
h1,h2,h3,h4,h5,h6, .navbar-brand{
    font-family: 'Oswald', sans-serif;
    font-weight: 500 !important;
    line-height: 1.5 !important;
}

.text-dark{
    color: var(--dark) !important;
}
.text-light{
    color: var(--white) !important;
}
.text-gold{
    color: var(--gold) !important;
}


.navbar{
    min-height: 5rem;
}
.nav-link{
    color:var(--dark);
    text-transform: uppercase;
    
}

section{
    padding: 6rem 0;
}

#slider{
    padding: 0;
}
.mt-6{
    margin-top: 4rem;
}

.blog-info{
    margin-top: 13rem;
    margin-left: 6rem;
}

.list-inline [class^="icon-"]{
    color: white;
}

.btn-light{
    display: flex;
    margin-left: 13rem;
}

.form-inline .form-control{
    display: flex;
    margin-bottom: -2.5rem;
}
